<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Movies</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="favourite-body">
    <div class="favourites">
        {{#each favourites as |favourite|}}
            <div class="movie">
                <img class="poster" src="https://image.tmdb.org/t/p/w500{{favourite.poster}}" alt="{{favourite.title}}">
                <div class="details">
                    <h2 class="title">{{favourite.title}}</h2>
                    <p class="overview">{{favourite.overview}}</p>
                    <p class="release">Release Date: {{favourite.release}}</p>
                    {{!-- <p class="id">ID: {{favourite.id}}</p> --}}
                </div>
            </div>
        {{/each}}
    </div>
</body>
</html>