<div class="favourites">
  {{#each favourites as |favourite|}}
    <div>
    <p>{{favourite.title}}</p>
    <p>{{favourite.overview}}</p>
    <p>{{favourite.poster}}</p>
    <p>{{favourite.release}}</p>
    <p>{{favourite.id}}</p>
    </div>
  {{/each}}
</div>