<div class="main-homepage">
  <div class="carousel-wrapper">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-indicators">
      {{#each movies}}
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{@index}}" class="indicator-item{{#if @first}} active{{/if}}"  aria-current="{{@index}}"></button>
      {{/each}}
    </div>
    <div class="carousel-inner">
      {{#each movies}}
      <div class="carousel-item {{#if @first}}active{{/if}}">
        <div>
          <h2>{{this.title}}</h2>
          <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
          <p>{{this.overview}}</p>
          <p>Release Date: {{this.release}}</p>
        </div>
      </div>
      {{/each}}
    </div>
    </div>
  </div>
</div>
