<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searched Movies</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<div class="movie">
  {{#each favourites as |favourite|}}
    <input type="hidden" class="existing-favourite-movie-id" value={{favourite.imdb_id}} />
  {{/each}}
  <h3 class="search-movie-title">{{title}}</h3>
  <input type="hidden" value="{{id}}" class="movieId" />
  <img src={{poster}}>
  <p class="search-genre">Genre: {{genre}}</p>
  <p class="search-actors">Actors: {{actors}}</p>
  <p class="search-plot">Plot: {{plot}}</p>
  <p class="search-release">Release Year: {{released}}</p>
  <p class="search-rating">IMDB Rating: {{imdb_rating}}</p>

  <h3 class="rating-movie-indic">Rate this Movie</h3>

  <div class="rating">

    <form class="review-movie">
      <input type="radio" name="rating" value="1" class="rating-input"></input>
      <input type="radio" name="rating" value="2" class="rating-input"></input>
      <input type="radio" name="rating" value="3" class="rating-input"></input>
      <input type="radio" name="rating" value="4" class="rating-input"></input>
      <input type="radio" name="rating" value="5" class="rating-input"></input>
      </select>

  </div>

  <button type="submit">Submit Rating</button>
  </form>
  <form class="favourite-form">
    <input type="hidden" id="movie-id" value={{imdb_id}} />
   <button id="favourites-button" type="submit">Add to favourites</button>
  </form>
</div>

<script src="/js/favourite.js"></script>
<script src="/js/review.js"></script>