<h2>Movie</h2>
{{#each movies}}
<div class="movie">
    <h3>{{title}}</h3>
    <p>Genre: {{genre}}</p>
    <p>Actors: {{actors}}</p>
    <p>Plot: {{plot}}</p>
    <p>Release Year: {{releaseYear}}</p>
    <p>Poster: {{poster}}</p>
    <p>IMDB Rating: {{imdbRating}}</p>
</div>
{{/each}}