{{!-- {{> layouts/main}} --}}

{{!-- {{#*inline "pageTitle"}}User Profile{{/inline}} --}}


<section class="user-profile">
  {{!-- <h2>Welcome, {{user.name}}!</h2> --}}
  {{!-- <h2>Welcome, {{userReviews.user.name}}!</h2> --}}

  <h3>Your Reviews</h3>
  {{#if userReviews.length}}
  <div class="user-reviews-list">
    {{#each userReviews as |review|}}
    <div class="movie">
      <h2>Movie: {{review.movie.title}}</h2>
      <img class="movie-poster" src="{{review.movie.poster}}" alt="">
      <p>Rating: {{review.movie_review}}/5</p>
      <a href="/profile/delete-review/{{id}}">Delete</a>
    </div>
    {{/each}}
  </div>
  {{else}}
  <p>No reviews yet. Start reviewing movies!</p>
  {{/if}}
</section>